input
output
__pycache__
.vscode
*.png
terrain_files
test
output5
output6
output9
output10
output11
output12
output13
output14
output15
output16
result5
result6
result9
result10
result11
result12
result13
result14
result15
result16
interpolate7
interpolate9
interpolate10
interpolate11
interpolate13
interpolate16