input
output
__pycache__
.vscode
*.png
terrain_files
test
output5
output6
output9
output10
output11
output12
output13
output14
output15
output16
result*
interpolate2
interpolate7
interpolate8
interpolate9
interpolate10
interpolate11
interpolate13
interpolate16
.DS_store
old/
